# Ignore node_modules directories in all subdirectories
node_modules
**/node_modules

# Ignore log files
*.log

# Ignore git repository files
.git

# Ignore local development configuration files
.vscode
.env

# Ignore temporary files and directories
tmp
build
dist

# Ignore macOS Finder files
.DS_Storea

Dockerfile
.gitignore
